apiVersion: v1
kind: Service
metadata:
  name: tilopos-redis
  labels:
    app: tilopos-redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
  selector:
    app: tilopos-redis
